# Virtual machines / ISOs
*.iso
*.qcow2
*.img
*.vdi
*.vmdk

# Logs
*.log
audit.log
agent/audit.log
/var/log/flavos/*.log

# Local environment
.vscode/
.DS_Store
Thumbs.db

# Go build output
agent/bin/

# Dashboard build and dependencies
dashboard/node_modules/
dashboard/dist/
dashboard/tsconfig.tsbuildinfo
